* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
}

body {
    background: #191818;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-screen,
#chat-screen {
    width: 1000px;
    max-width: 90%;
    background: #3ee2ff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

#login-screen {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#login-screen h2 {
    text-align: center;
    margin-bottom: 10px;
}

#chat-screen {
    display: none;
    height: 85vh;
    overflow: hidden;
}

input {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #190668;
    color: white;
    font-size: 15px;
    outline: none;
}

input::placeholder {
    color: #a9b7cb;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background: blue;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

button:hover {
    background: #4f7fe6;
}

.secondary {
    background: red;
}

.secondary:hover {
    background: #d43b3b;
}

#login-error {
    display: none;
    color: #ef4444;
    text-align: center;
    background-color: black;
    font-size: 20px;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    border-bottom: 1px solid #000000;
}

#user-label {
    font-size: 24px;
    color: white;
}

#messages {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user {
    display: flex;
    justify-content: flex-end;
}

.bot {
    display: flex;
    justify-content: flex-start;
}

.user span {
    background: #2563eb;
    padding: 12px 16px;
    border-radius: 16px 16px 0 16px;
    max-width: 75%;
    word-wrap: break-word;
}

.bot span {
    background: #334155;
    padding: 12px 16px;
    border-radius: 16px 16px 16px 0;
    max-width: 75%;
    word-wrap: break-word;
}

#input-row {
    display: flex;
    gap: 10px;
    padding: 10px;
    max-height: 80px;
}

#user-input {
    flex: 1;
}

#chat-screen{
    display:none;
}